@import '../../stylesheets/base/colors';

.scroll-to-top-button {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: $gradientColor;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.15);
  }

  &.visible {
    opacity: 1;
  }
}
