@import '../../stylesheets/base/colors';
@import '../..//stylesheets/base/variables';

.Header {
  background-color: #fff;
  position: fixed;
  z-index: 999;
  box-shadow: $menuShadow;

  @media screen and (max-width: 768px) {
    position: relative;
    z-index: 1;
  }
}
