// Colors

$primary: #13c5dd;
$secondary: #354f8e;
$grayColor: #dee2e6;
$textColor: #1d2a4d;
$light: #eff5f9;
$dark: #1d2a4d;
$white: #fff;
$gradientColor: linear-gradient(to right, #13c5dd, #0073a8);
